
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* Общие стили */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  cursor: url('star.png') 10 10, auto;
}

a {
  text-decoration: none;
}

/* Шапка сайта */
header {
  background-image: url('foto.jpg');
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-family: 'Bitter', serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  color: #FFF9F0;
}

/* Панель навигации */
nav {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgba(133, 143, 180, 0.8);
  padding: 10px;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #EDF1F6;
  font-family: 'Bitter', serif;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.nav-links a:hover {
  color: #EDF1F6;
  font-family: 'Bitter', serif;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.toggle-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background-color: rgba(133, 143, 180, 0.8);
  padding: 10px;
}

.toggle-btn span {
  background-color: #333;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
}

/* Основной контент */
main {
    background-image: url('foto.jpg');
    background-size: cover;
    background-position: center;
  padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #858FB4;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}



.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border:none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}


.sign-in select {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}




.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

/* Подвал сайта */
footer {
  background-image: url('foto.jpg');
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-info p {
  margin-right: 20px;
  color: #EDF1F6;
  font-family: 'Bitter', serif;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.email-btn {
  background-color: #858FB4;
  color: #EDF1F6;
  font-family: 'Bitter', serif;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 4px;
}

.location {
  color: #EDF1F6;
  font-family: 'Bitter', serif;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

/* Адаптивные стили для маленьких экранов */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo {
    margin-bottom: 10px;
  }
  
  nav {
    width: 100%;
    justify-content: space-between;
  }
  
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
  }
  
  .nav-links li {
    margin: 10px 0;
    width: 100%;
  }
  
  .toggle-btn {
    display: flex;
  }
  
  .nav-links.show {
    display: flex;
  }
  
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .contact-info {
    margin-bottom: 10px;
  }
}